[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment Icon-Set.svgIcon-Set.svg69 KB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=ef0b0e6219&attid=0.1&permmsgid=msg-f:1630873374409718531&th=16a206b17b557b03&view=att&disp=safe&realattid=f_jui6l0gu0
Icon=text-html
